<h1 class="mb-1 restaurant-show-title">{{restaurant.title}}</h1>
<div class="container">
  <div class="row info-container">
    <form action="/restaurants/{{restaurant._id}}/save" class="was-validated" method="POST">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">新增餐廳</h5>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3 has-validation">
              <span class="input-group-text" id="basic-addon1">餐廳名稱</span>
              <input type="text" class="form-control is-invalid" placeholder="ex:好吃牛肉麵" aria-label="Username"
                aria-describedby="basic-addon1" name="name" value={{restaurant.name}} required>

            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2">電話</span>
              <input type="text" class="form-control is-invalid" placeholder="ex: 0900-000000, 02-0000000"
                aria-label="phone-number" aria-describedby="basic-addon2" name="phone"
                oninput="value=value.replace(/[^\d]/g,'')" value={{restaurant.phone}} required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2">餐廳類別</span>
              <select class="form-select" name="category" value={{restaurant.category}} aria-label="select example"
                required>
                <option value="">請選擇餐廳風格</option>
                <option value="義式">義式</option>
                <option value="美式">美式</option>
                <option value="台式">台式</option>
                <option value="日式">日式</option>
                <option value="早午餐">早午餐</option>
                <option value="宵夜">宵夜</option>
                <option value="酒吧">酒吧</option>
                <option value="其他">其他</option>
              </select>
              <div class="invalid-feedback">Example invalid select feedback</div>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">自評分數</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="1~5分"
                name="rating" oninput="value=value.replace(/[^\d]/g,'')" value={{restaurant.rating}} required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">地址</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="..."
                name="location" value={{restaurant.location}} required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">描述</span>
              <textarea type="textBox" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                placeholder="這個餐廳的特色" name="description">{{restaurant.description}}</textarea>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">上傳圖片</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                value="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5632/06.jpg" name="image" disabled>
            </div>
            <div class="modal-footer">
              <a href="/"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></a>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>